<div class="table-container">
    <div></div>
    <table cellspacing="0">
      <thead>
        <tr>
          <th><div>Tag</div></th>
          <th><div>Datum</div></th>
          <th><div>Uhrzeit</div></th>
          <th><div>Liga</div></th>
          <th><div>Heimmannschaft</div></th>
          <th><div>Gastmannschaft</div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Do.</td>
          <td>Heute</td>
          <td>19:45</td>
          <td>H1KK</td>
          <td class="teams">TuS Hiltrup V</td>
          <td class="teams">DJK Borussia Münster IV</td>
        </tr>
        <tr>
          <td>Fr.</td>
          <td>30.09.2016</td>
          <td>19:30</td>
          <td>H3KK</td>
          <td class="teams">SC Westfalia Kinderhaus V</td>
          <td class="teams">DJK Borussia Münster VI</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>20:00 v</td>
          <td>HBL</td>
          <td class="teams">DJK Borussia Münster II</td>
          <td class="teams">1. TTC Münster III</td>
        </tr>
        <tr>
          <td>Sa.</td>
          <td>01.10.2016</td>
          <td>18:30</td>
          <td>HNRWL</td>
          <td class="teams">DJK Borussia Münster</td>
          <td class="teams">1. TTC Münster</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>18:30</td>
          <td>DNRWL</td>
          <td class="teams">DJK Borussia Münster</td>
          <td class="teams">TTC Werne 98</td>
        </tr>
        <tr>
          <td>Di.</td>
          <td>04.10.2016</td>
          <td>20:15</td>
          <td>H1KK</td>
          <td class="teams">DJK Borussia Münster IV</td>
          <td class="teams">1. TTC Münster VII</td>
        </tr>
        <tr>
          <td>Do.</td>
          <td>06.10.2016</td>
          <td>20:00</td>
          <td>H2KK</td>
          <td class="teams">1. FC Gievenbeck IV</td>
          <td class="teams">DJK Borussia Münster V</td>
        </tr>
        <tr>
          <td>Fr.</td>
          <td>07.10.2016</td>
          <td>19:30</td>
          <td>HKL</td>
          <td class="teams">DJK SC Nienberge</td>
          <td class="teams">DJK Borussia Münster III</td>
        </tr>
        <tr>
          <td>Sa.</td>
          <td>08.10.2016</td>
          <td>17:30 v</td>
          <td>HBL</td>
          <td class="teams">SC Westfalia Kinderhaus II</td>
          <td class="teams">DJK Borussia Münster II</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>18:30</td>
          <td>DNRWL</td>
          <td class="teams">TSSV Bottrop</td>
          <td class="teams">DJK Borussia Münster</td>
        </tr>
        <tr>
          <td>So.</td>
          <td>09.10.2016</td>
          <td>10:00</td>
          <td>HNRWL</td>
          <td class="teams">GSV Fröndenberg</td>
          <td class="teams">DJK Borussia Münster</td>
        </tr>
      </tbody>
    </table>
  </div>